
/* resetando as configuraçoes do site*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    font-weight: 400;
}

/* alterando os navs*/

.nav_icones ul li {
    text-align: center;
    display: inline;
    position: relative;
    left: 33%;
    padding-left: 1%;
    color: black;
}
/*conteudo dos textos*/

.titulo1 {
    text-align: center;
    text-transform: uppercase;
    padding: 50px;
}
.titulo2 {
    text-align: center;
    text-transform: uppercase;
    padding: 25px;
}
p {
    text-align: center;
   font-size: medium;
}
/*imagem da cenral de atendimento*/
.central {
    width: 55px;
    position: fixed;
    right: 0;
    bottom: 0;
}
/*imagem do celular e do frete*/
.pao {
   box-sizing: border-box;
   width: 100%;
}
.celular {
    box-sizing: border-box;
    width: 100%;
 }

 /*header*/

 .cor_header {
     background-color: turquoise;
 }