
/* resetando as configuraçoes do site*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    font-weight: 400;
}

/* alterando os navs*/

.nav_icones ul li {
    text-align: center;
    display: inline;
}
/*conteudo dos textos*/

.titulo1 {
    text-align: center;
    text-transform: uppercase;
    padding: 50px;
}
.titulo2 {
    text-align: center;
    text-transform: uppercase;
    padding: 25px;
}
p {
    text-align: justify;
   font-size: medium;
}
.central {
    width: 55px;
    position: fixed;
    right: 0;
    bottom: 0;
    

       
}
.borda_pagina {
    
}